<div class="row gap-3">
  <section class="col-lg-8">
    <ul ngbNav #nav="ngbNav" [activeId]="1" class="nav-underline">
      <li [ngbNavItem]="1">
        <button ngbNavLink class="text-primary-emphasis fs-3 fw-semibold">
          Mais populares
        </button>
        <ng-template ngbNavContent><h2>Hello 1</h2></ng-template>
      </li>

      <li [ngbNavItem]="2">
        <button ngbNavLink class="text-primary-emphasis fs-3 fw-semibold">
          Mais vistos
        </button>
        <ng-template ngbNavContent><h2>Hello 2</h2></ng-template>
      </li>
    </ul>

    <div [ngbNavOutlet]="nav" class="mt-3"></div>
  </section>
</div>
