<div class="row gap-3">
  <section class="col">
    <ul ngbNav #nav="ngbNav" [activeId]="1" class="nav-underline">
      <li [ngbNavItem]="1">
        <button ngbNavLink class="text-primary-emphasis fs-3 fw-semibold">
          Mais populares
        </button>
        <ng-template ngbNavContent>
          <div class="row g-4">
            <div
              class="app-card-filme col-6 col-md-4 col-lg-3"
              *ngFor="let filme of filmes"
            >
              <img
                class="img-fluid rounded-3 border border-primary"
                [src]="filme.imagem"
              />

              <div class="text-center mt-3">
                <a class="text-decoration-none text-primary-emphasis fs-5">
                  {{ filme.titulo }}
                </a>
              </div>
            </div>
          </div>
        </ng-template>
      </li>

      <li [ngbNavItem]="2">
        <button ngbNavLink class="text-primary-emphasis fs-3 fw-semibold">
          Mais Bem Avaliados
        </button>
        <ng-template ngbNavContent>
          <div class="row g-4">
            <div
              class="app-card-filme col-6 col-md-4 col-lg-3"
              *ngFor="let filme of filmes"
            >
              <img
                class="img-fluid rounded-3 border border-primary"
                [src]="filme.imagem"
              />

              <div class="text-center mt-3">
                <a class="text-decoration-none text-primary-emphasis fs-5">
                  {{ filme.titulo }}
                </a>
              </div>
            </div>
          </div>
        </ng-template>
      </li>
    </ul>

    <div [ngbNavOutlet]="nav" class="mt-4"></div>
  </section>
</div>
